<header class="header-container">
  <div class="container">
    <div class="row">
      <div class="col-25 app-logo">
        <a
          href="/"
          aria-label="Click logo to navigate to Home screen"
          title="Home"
        >
          <img
            alt="Sabka Bazaar brand logo - Click to navigate to home page"
            src="/static/images/logo.png"
          />
        </a>
      </div>
      <div class="col-75">
        <div class="row">
          <nav class="col-100 nav-bar auth-menu f-14 start-rt">
            <ul class="nav">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/"
                  aria-label="Click to SignIn"
                  title="SignIn"
                >SignIn</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/"
                  aria-label="Click to Register"
                  title="Register"
                >Register</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <nav class="col-75 nav-bar main-menu f-16">
            <ul class="nav">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/"
                  aria-label="Navigate to Home screen"
                  title="Home"
                >Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/"
                  aria-label="Navigate to Products screen"
                  title="Products"
                >Products</a>
              </li>
            </ul>
          </nav>
          <div class="col-25 cart-btn start-rt">
            <button
              type="button"
              class="btn"
              aria-label="Click to view items in the cart"
              title="View Cart"
            >
              <img alt="Cart Icon" src="/static/images/cart.svg" />
              <div><span id="cartItemsLength">0</span> items</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>