.footer-container {
  background-color: $c-secondary;
  height: 50px;
  display: flex;
  align-items: center;
  
  .footer-info{
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    text-align: center;
    height: 35px;
  }
}

@media (max-width: 767.98px) {
  .footer-container {
    font-size: 12px;
  }
}
