*,
*::before,
*::after {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 24px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 576px) {
    max-width: 100%;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.row {
  width: 100%;
  display: flex;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.f-16 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.link-active {
  color: $text-field-border-focus !important;
  text-decoration: underline !important;
}

.link-focus {
  color: $text-field-border-focus;
}

.btn {
  margin: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #e2e2e2;
  border-radius: 0;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #50dae2;
    outline: 0;
  }
}

.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }

  > label {
    position: absolute;
    color: #aeaeae;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  > .form-control {
    padding: 1rem 0;

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
    }
  }

  > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-select {
    ~ label {
      transform: scale(0.85) translateY(-0.8rem);
    }
  }

  > .form-control:focus ~ label {
    color: #50dae2;
  }
}
