/*Section colors*/
/*Shadow colors*/
$c-shadow: #c4c4c4;

/*Standard colors*/
$c-white: white;
$c-black: black;
$c-gray: #686868;
$c-dark-gray: #4c4e46;
$c-medium-gray: #565656;
$c-light-gray: #b8b6b7;
// $c-cyan: #3e9298;

/*Theme colors*/
$c-primary: #d00155;
$c-primary-light: rgba(208, 1, 85, 0.7);
$c-primary-2: #50dae2;
$c-secondary: #eeeeee;
$c-secondary-light: rgba(238, 238, 238, 0.5);
$c-secondary-dark: #dddddd;
