<section class="container products-container">
  <div class="row">
    <div class="category-container">
      <div class="category-list">
        <button class="active">Apple</button>
        <button>Samsung</button>
        <button>Sony</button>
      </div>
      <div class="category-dropdown">
        <button onclick="toggelDropdown()" class="category-dropdown-btn"><span
          >All Products</span></button>
        <div class="category-dropdown-list">
          <button>Apple</button>
          <button>Samsung</button>
          <button>Sony</button>
        </div>
      </div>
    </div>

    <div class="product-list-container">

      <div class="product">
        <div class="product-title">Fresho Kiwi - Green, 3 pcs</div>
        <div class="product-image">
          <img
            class="responsive-img"
            src="./../../../static/images/products/fruit-n-veg/kiwi-green.jpg"
            alt="Image"
          />
        </div>
        <div class="product-description">
          Kiwis are oval shaped with a brownish outer skin. The flesh is bright
          green and juicy with tiny, edible black seeds.
        </div>
        <div class="product-cart">
          <div class="price">MRP Rs.87</div>
          <button
            class="btn buy-btn"
            type="button"
            aria-label="Click the Buy Now button to buy product"
          >
            Buy Now
            <span class="buy-btn-price">@ Rs.87</span>
          </button>
        </div>
        <div class="separator"></div>
      </div>

      <div class="product">
        <div class="product-title">Apple - Washington, Regular, 4 pcs</div>
        <div class="product-image">
          <img
            class="responsive-img"
            src="./../../../static/images/products/fruit-n-veg/apple.jpg"
            alt="Image"
          />
        </div>
        <div class="product-description">
          The bright red coloured and heart shaped Washington apples are crunchy, juicy and slightly sweet. Washington Apples are a natural source of fibre and are fat free.
        </div>
        <div class="product-cart">
          <div class="price">MRP Rs.187</div>
          <button
            class="btn buy-btn"
            type="button"
            aria-label="Click the Buy Now button to buy product"
          >
            Buy Now
            <span class="buy-btn-price">@ Rs.187</span>
          </button>
        </div>
        <div class="separator"></div>
      </div>

    </div>
  </div>
</section>