<section class="home-container">
  <div class="container">
    <div class="slideshow-container">

      <div class="mySlides fade">
        <img src="/static/images/offers/offer1.jpg" style="width:100%" />
      </div>

      <div class="mySlides fade">
        <img src="/static/images/offers/offer2.jpg" style="width:100%" />
      </div>

      <div class="mySlides fade">
        <img src="/static/images/offers/offer3.jpg" style="width:100%" />
      </div>

       <div class="mySlides fade">
        <img src="/static/images/offers/offer4.jpg" style="width:100%" />
      </div>

       <div class="mySlides fade">
        <img src="/static/images/offers/offer5.jpg" style="width:100%" />
      </div>

      <a class="prev" onclick="plusSlides(-1)">PREV</a>
      <a class="next" onclick="plusSlides(1)">NEXT</a>

      <div class="slide-dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>

    </div>

    <div class="banners-container">
      <div id="fruit-and-veg" class="row banner">
        <div class="col-30 banner-img">
          <img
            class="responsive-img"
            src="/static/images/category/fruits.png"
            alt="Image of Fruits &amp; Vegetables category"
          />
        </div>
        <div class="col-70 banner-details">
          <h2>Fruits &amp; Vegetables</h2>
          <p>A variety of fresh fruits and vegetables.</p>
          <button
            data-id="5b6899953d1a866534f516e2"
            class="btn banner-btn"
            type="button"
            aria-label="Click here to explore fruit-and-veg"
          >Explore fruit-and-veg</button>
        </div>
      </div>

      <div id="bakery-cakes-dairy" class="row banner banner-reverse">
        <div class="col-30 banner-img">
          <img
            class="responsive-img"
            src="/static/images/category/bakery.png"
            alt="Image of Bakery Cakes and Dairy category"
          />
        </div>
        <div class="col-70 banner-details">
          <h2>Bakery Cakes and Dairy</h2>
          <p>The best cupcakes, cookies, cakes, pies, cheesecakes, fresh bread,
            biscotti, muffins, bagels, fresh coffee, milk and more.</p>
          <button
            data-id="5b6899123d1a866534f516de"
            class="btn banner-btn"
            type="button"
            aria-label="Click here to explore bakery-cakes-dairy"
          >Explore bakery-cakes-dairy</button>
        </div>
      </div>

      <div id="beverages" class="row banner">
        <div class="col-30 banner-img">
          <img
            class="responsive-img"
            src="/static/images/category/beverages.png"
            alt="Image of Beverages category"
          />
        </div>
        <div class="col-70 banner-details">
          <h2>Beverages</h2>
          <p>Our beverage department will ensure your fridge is always fully
            stocked. Shop for soda, juice, beer and more.
          </p>
          <button
            data-id="5b675e5e5936635728f9fc30"
            class="btn banner-btn"
            type="button"
            aria-label="Click here to explore beverages"
          >Explore beverages</button>
        </div>
      </div>
      <div id="beauty-hygiene" class="row banner banner-reverse">
        <div class="col-30 banner-img">
          <img
            class="responsive-img"
            src="/static/images/category/beauty.png"
            alt="Image of Beauty and Hygiene category"
          />
        </div>
        <div class="col-70 banner-details">
          <h2>Beauty and Hygiene</h2>
          <p>Buy beauty and personal care products online in India at best
            prices.</p>
          <button
            data-id="5b68994e3d1a866534f516df"
            class="btn banner-btn"
            type="button"
            aria-label="Click here to explore beauty-hygiene"
          >Explore beauty-hygiene</button>
        </div>
      </div>
      <div id="baby" class="row banner">
        <div class="col-30 banner-img">
          <img
            class="responsive-img"
            src="/static/images/category/baby.png"
            alt="Image of Baby Care category"
          />
        </div>
        <div class="col-70 banner-details">
          <h2>Baby Care</h2>
          <p>Shop online for Baby Products, Diapers, Skin Care Products,etc.</p>
          <button
            data-id="5b6899683d1a866534f516e0"
            class="btn banner-btn"
            type="button"
            aria-label="Click here to explore baby"
          >Explore baby</button>
        </div>
      </div>
    </div>
  </div>
</section>